//// Calendar
.bc {
  &-calendar { 
    @extend %fade;
		display: grid;
		grid-template-rows: auto repeat(6, minmax(8rem, 1fr));
		grid-gap: 1px;
		margin: 1rem;
    color: var(--white);
    line-height: normal;
		z-index: 1;
		box-shadow: $softShadow;
    border-radius: 1rem;
		padding: 0.5rem;
		position: relative;
		&:before {
      @extend %fade;
			content: "";
			display: block;
			position: absolute;
			top: 3.4rem;
			left: 0.45rem;
			right: 0.45rem;
			bottom: 0.45rem;
			background: var(--calendar-color-6);
			border-radius: 0.25rem 0.25rem 1rem 1rem;
		}
		@include light-theme {
			color: var(--dark);
		}
    @media (max-width: $breakpointMD) {
      $rh: 3rem;
			grid-template-rows: auto repeat(6, $rh);	
			margin: 0.5rem;		
			height: auto;
			position: relative;
			top: auto;
			left: auto;
			bottom: auto;
			right: auto;
    }
    &-week {
      display: grid; 
      grid-template-columns: repeat(7, minmax(4rem, 1fr));
			grid-gap: 1px;
			@media (max-width: $breakpointMD) {
				grid-template-columns: repeat(7, 1fr);
			}
      &:nth-child(8) {
        display: none;
			}
			&:nth-child(7) {
				& .bc-calendar-day:first-child {
					border-radius: 0 0 0 ($borderRadius * 4);
				}
				& .bc-calendar-day:last-child {
					border-radius: 0 0 ($borderRadius * 4) 0;
				}
			}
    }
    &-header {
      @extend %noselect;
      display: grid; 
      grid-template-columns: repeat(7, 1fr); 
      align-items: center; 
			text-align: center;
			&-day {
				padding: 0.75rem 0 1rem;
			}
			& + .bc-calendar-week {
				&	.bc-calendar-day:first-child {
					border-radius: $borderRadius 0 0 0;
				}
				&	.bc-calendar-day:last-child {
					border-radius: 0 $borderRadius 0 0;
				}
			}
    }
    &-day {
      @extend %fade;
      position: relative;
      background-color: var(--calendar-color-3);
			@include light-theme {
        background-color: var(--calendar-color-1);
			}
			@media (min-width: $breakpointSM) {
				&:hover {
					background-color: var(--calendar-color-day-hover) !important;
				}
			}      
      @media (max-width: $breakpointMD) {
        &-mobile-cover {
          display: block;
          position: absolute;
          top: 0; 
          left: 0; 
          right: 0; 
          bottom: 0;
          z-index: 9;
        }
      }
      &:first-child:not(.bc-calendar-day-other-month) { 
        background-color: var(--calendar-color-4);
				@include light-theme {
					background-color: var(--calendar-color-2);
				}
      }
      &:last-child:not(.bc-calendar-day-other-month) {
        background-color: var(--calendar-color-4);
				@include light-theme {
					background-color: var(--calendar-color-2);
				}
      }
      &-other-month {
        color: var(--calendar-color-6);
        background-color: var(--calendar-color-1);
				@include light-theme {
					background-color: var(--calendar-color-3);
				}
      }
      &-number { 
				//@extend %fade; 
        @extend %noselect;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        height: 2rem;
        width: 2rem;
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;
        z-index: 2;
				border-radius: 10rem;
        cursor: pointer;
        &:hover {
          background-color: var(--teal);
          color: var(--white);
        }
        @media (max-width: $breakpointMD) {
          font-size: 0.75rem;
          top: 0;
          right: 0;
          width: 1.5rem;
          height: 1.5rem;
          &:hover {
            border-radius: 0;
          }
          &.bc-snowball {
            border-bottom: 0.15rem var(--brand-income) solid;
          }
        }
      }
      &-today {
        @extend %fade;
        background-color: var(--calendar-color-today) !important;
      }
      &-events {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: end;
        @media (max-width: $breakpointMD) {
          flex-direction: row;
          justify-content: start;
          flex-wrap: wrap-reverse;
          margin: -0.15rem;
        }
        &-wrap {
          @extend %scrollbar;
          overflow-y: auto;
          overflow-x: hidden;
          display: flex;
          flex-direction: column-reverse;
          height: 100%;
          padding: 0.5rem;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          @media (max-width: $breakpointMD) {
            max-height: 3rem;
          }
        }
        .badge {
          @media (max-width: $breakpointMD) {
            display: inline-block;
            width: auto;
            border-radius: 10rem;
            width: 0.5rem;
            height: 0.5rem;
            margin: 0.15rem 0.15rem 0 0;
            &-bill {
              background-color: var(--brand-bill);
            }
            &-savings {
              background-color: var(--brand-savings);
            }
            &-deposit {
              background-color: var(--brand-deposit);
            }
            &-income {
              background-color: var(--brand-income);
            }
            span {
              display: none;
            }
            &-total {
              display: none;
            }
          }
        }
      }
    }
  }
}
// Calendar Badges
.badge {
  width: auto;
  text-align: left;
	font-size: 1rem;
	font-weight: 400;;
  white-space: normal;
  word-break: break-word;
  padding: 0.1rem 0;
	line-height: normal;
	position: relative;
	border-radius: 0;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	transition: none;
  @media (max-width: $breakpointMD) {
    display: block;
    widows: 100%;
  }
  &.bc-snowball {
    color: var(--brand-income);
  }
  .price {
    &:before {
      content: "$";
    }
  }
  .item {
    &:before {
      content: "- ";
    }
	}
	&:before {
		content: "";
		display: inline-block;
		padding: 0.4rem;
		@media (max-width: $breakpointMD) {
			display: none;
		}
	}
  &-bill:before {
		background: var(--brand-bill);
  }
  &-savings:before {
		background: var(--brand-savings);
  }
  &-deposit:before {
		background: var(--brand-deposit);
  }
  &-income {
		&:before {
			background: var(--brand-income);
		}
  }
  &-total {
    width: 100%;
    margin: 0.25rem 0 0;
    padding-top: 0.5rem;
    border-radius: 0;
    text-align: left;
    color: var(--white);
		border-top: 1px rgba(255,255,255,0.25) dashed;
		cursor: text;
		@include light-theme {
			color: var(--black);
			border-top: 1px rgba(0,0,0,0.25) dashed;
		}
		& .price {
			opacity: 0.75;
		}
  }
}