//// Placeholders

// Centers Block Elements
%baseCenter {
  margin: 0 auto;
}

// Psuedo Before and After Chunk
%ba {
  display: block; 
  content: "";
}

// Quick Text Indent for Images
%ti {
  text-indent: -9999px;
  text-align: left;
  display: block;
}

// Clearfix if needed
%clearfix {
  &:after {
    display: table;
    content: "";
    clear: both;
  }
}

// Fade nicley for anything
%fade {
  transition: all 0.3s ease-in-out;
}

// Custom Scrollbar
%scrollbar {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-button {
    background-color: var(--calendar-color-6);    
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1rem var(--calendar-color-2);
  }
  &::-webkit-scrollbar-track-piece {
    background-color: var(--calendar-color-2);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--calendar-color-6);
    outline: 1px solid var(--calendar-color-4);
  }
  &::-webkit-scrollbar-corner {
    background-color: var(--calendar-color-6);
  }
}

// Not Selectable
%noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}